<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="~/css/style.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="wrapper">
        <div id="container">
            @RenderBody()
        </div>
        <div id="footer">Application made by Jakub Grenda &amp; Kacper Hołubowicz</div>
    </div>
</body>
</html>
